body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

tr.active	{
	color: #ffffff;
	background-color: #0000ff!important;
}
.table  {
	margin: 10px 0;
	border-collapse: collapse;
	border-spacing: 0;
}

table tr:nth-child(2n+1) {
	background-color: #ffffab;
}
.table td, .table th  {
	padding: 4px 8px;
	border: 1px solid #808080;
	white-space: nowrap;
}
.table th   {
	background-color: #aaaaaa;
}

.command-box	{
	padding: 4px;
	margin: 4px;
}
.command-box > div	{
	display: inline-block;
	margin: 4px;
	cursor: pointer;
	padding: 4px;
}
.command-box > div:hover	{
	color: #0000ff;
	border: 1px solid red;
	border-radius: 3px;
	background-color: #cccccc;
	padding: 3px;

}
.not-visible	{
	visibility: hidden;
}
.icon-btn {
	width: 20px;
	height: 20px;
	display: inline-block;
	cursor: pointer;
	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
	background-size: 20px auto !important;
	padding: 3px;
	border: solid 1px transparent;
	margin-right: 5px;
}
.btn-delete	{
	background: url(/img/delete.png) center no-repeat;
}
.btn-edit	{
	background: url(/img/edit.png) center no-repeat;
}
.btn-delete:hover	{
	background: url(/img/delete-active.png) center no-repeat;
}
.btn-edit:hover	{
	background: url(/img/edit-active.png) center no-repeat;
}
.btn-cell	{
	cursor: pointer;
	font-weight: bold;
}
.btn-cell:hover	{
	color: #ff3eff;
}